<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
		xmlns:sec = "https://www.thymeleaf.org/extras/spring-security"   >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

	<script type="text/javascript" th:src = "@{/js/register.js}" defer></script>
	

</head>
<body>

	register page 
	
	<form  method="post" th:action="@{/register}"   id = "register-form">
		email : <input type="text" id = "username" name = "username"> <br>
		password : <input type="password" id = "password" name = "password"> <br>
		verify password : <input type="password" id = "verify-password" name = "verify-password"> <br>
	
		<input type="submit" value = "register">
	</form>
	
	
	<div id = "feedback" name = "feedback"></div>

</body>
</html>