form {
  margin-top: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="submit"],
input[type="radio"] {
  margin-bottom: 10px;
}

input[type="submit"] {
  padding: 5px 10px;
}

input[type="radio"] {
  margin-right: 5px;
}





table {
  width: 80%; /* Adjust the width as needed */
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}



th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e2e2e2;
}

table img {
  max-width: 50px;
  max-height: 50px;
}
