/* cart.css */

/* Global Styles */


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

table {
  width: 30%;
  margin: 0 auto; /* Add this line to center the table horizontally */
  border-collapse: collapse;
}

table img {
  max-width: 100px; /* Adjust the value as needed to make the images smaller */
  max-height: 100px; /* Adjust the value as needed to maintain the image aspect ratio */
}


th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}


.action {
  text-align: center;
}

.remove-link {
  color: #ff0000;
  text-decoration: none;
}

.remove-link:hover {
  text-decoration: underline;
}








/* CSS for Checkout Button */


.checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust margin as needed */
}

a.checkout-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #008cba;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

a.checkout-button:hover {
background-color: #333333;
  color:white;
}









.out-of-stock {
    background-color: #ffdddd; /* Example styling for out-of-stock items */
}
