/* CSS for Checkout page */


.container {
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align the content inside the container */
}

h1 {
    margin-bottom: 40px;
    text-align: center;
}

form {
    margin: 0 auto; /* Center align the form */
    max-width: 500px;
    text-align: left; /* Reset text alignment for form fields */
}

form label {
    display: block;
    margin-top: 10px;
}

form input[type="text"],
form input[type="tel"],
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto; /* Center align the table */
    max-width: 400px;
}

table th,
table td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table tfoot td {
    font-weight: bold;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}








.container2 {
  margin: 20px auto;
  padding: 20px;


  text-align: center;
}

.container2 h2 {
  margin-bottom: 10px;
}

.container2 table {
  width: 100%;
  border-collapse: collapse;
}

.container2 th,
.container2 td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.container2 th {
  background-color: #f9f9f9;
  font-weight: bold;
}

.container2 img {
  max-width: 50px;
  max-height: 50px;
}

/* Optional: Add additional styles as per your requirement */


