@charset "EUC-KR";

footer {
	
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

footer nav {
  margin-bottom: 20px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 20px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

footer ul li a:hover {
  color: #666;
}
