
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}



/* Product container styles */
.product-container {
    display: inline-block;
    width: 300px;
    margin: 10px;
    text-align: center;
}

/* Product link styles */
.product-link {
    text-decoration: none;
    color: #333;
}

/* Product image styles */
.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Product name styles */
.product-name {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Product price styles */
.product-price {
    margin-bottom: 10px;
}

