<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	index page 
	
	<table>
		<tr>
			<th>name</th>
			<th>price</th>
			<th>quantity</th>
			<th>OPERATION</th>
		</tr>
		<tr th:each  = "i : ${productList}">
			<td th:text = "${i.name}"></td>
			<td th:text = "${i.price}"></td>
			<td th:text = "${i.quantity}"></td>
			<td>
				<a th:href = "@{/editProduct/{id}   (id=${i.id})   }" th:text = "EDIT"></a>
				<a th:href = "@{/deleteProduct/{id}    (id=${i.id})    }" th:text = "DELETE"></a>
			</td>
		</tr>
	</table>
	
	
	
	<form method="post" th:action = "@{/insertProduct}" th:object = "${product}">
		name : <input type="text" id = "name" name = "name" th:field = "*{name}"> <br>
		price : <input type="number" id = "price" name = "price" th:field = "*{price}" > <br>
		quantity : <input type="numer" id = "quantity" name = "quantity"  th:field = "*{quantity}" > <br>
		
		<input type="submit" value = "submit"> 
	</form>
	
	
</body>
</html>