<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"  th:href="@{/css/adminOrder.css}">
</head>
<body>

	<div th:replace = "@{/header}"></div>
	
	<!-- Search for orderItems based on their user name -->
	<form th:action="@{/searchByUserName}" method="post">
	    <label>Search by User Name:</label>
	    <input type="text" name="username">
	    
	    <input type="submit" value="Search">
	</form>
	
	
	<!-- Search for orderItems based on their status -->
	<form th:action="@{/searchByStatus}" method="post">
	    <label for="status">Search by Status:</label>
	    <input type = "radio" name = "status"  value = "TOTAL">TOTAL
	    <input type = "radio" name = "status"  value = "PROCESSING">PROCESSING
	    <input type = "radio" name = "status" value = "SHIPPED">SHIPPED
	    <input type = "radio" name = "status" value = "DELIVERED">DELIVERED
	    <input type = "radio" name = "status" value = "CANCELED">CANCELED
	    <input type = "radio" name = "status" value = "CANCELING">CANCELING

	    <input type = "submit" value = "Search">
	</form>

	

	<table>
		<tr>
			<th>order id</th>
			<th>image</th>
			<th>product name</th>
			<th>user account</th>
			<th>total price</th>
			<th>date</th>			
			<th>status</th>
		</tr>
		<tr th:each = "i : ${orders}">
			<td th:text = "${i.order_id}"></td>
			<td> <img alt="" th:src="@{${i.image_url}}"> </td>
			<td th:text = "${i.product_name}"></td>
			<td th:text = "${i.user_name}"></td>
			<td th:text = "${i.totalAmount}"></td>
			<td th:text = "${i.orderDate}"></td>
	        <td>
				<form th:action="@{/statusModify}" method="post" onsubmit="return confirm('Are you sure you want to modify the status?')">>
				    <input type="hidden" th:value="${i.oi_id}" name="oi_id">
				    <select name="status">
				        <option th:each="j : ${status}" th:text="${j}" th:value="${j}" th:selected="${j == i.status}"></option>
				    </select>
				    <input type="submit" value="modify">
				</form>

        	</td>
		</tr>
	</table>
	
	
	
	<div th:replace = "@{/footer}"></div>
	
</body>
</html>