<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}">
<script th:src="@{/js/cart.js}"></script>

</head>
<body>



	<div th:replace = "@{/header}"></div>


	<div th:if="${errorMessage1}" class="error-message">
	    <p th:text="${errorMessage1}"></p>
	</div>
	
	<div th:if="${errorMessage2}" class="error-message">
	    <p th:text="${errorMessage2}"></p>
	</div>

	
	
	
	<table>
		<tr>
			<th>image</th>
			<th>name</th>
			<th>color</th>
			<th>size</th>
			<th>each price</th>
			<th>action</th>
		</tr>
		<tr th:each = "i : ${carts}"   >
			<td> <img alt="" th:src="@{${i.image_url}}"> </td>
			<td th:text = "${i.product_name}"></td>

			<td th:text = "${i.color_name}"></td>
			<td th:text = "${i.size_name}"></td>
			<td th:text = "${i.product_price}"></td>
			<td>
			    <a th:if="${i.enabled == 2}" th:href="@{/removeItem/{ci_id}(ci_id=${i.ci_id})}"  class = "out-of-stock"  id="alertForRemoving">Remove</a>
			    <a th:if="${i.enabled == 1}" th:href="@{/removeItem/{ci_id}(ci_id=${i.ci_id})}">Remove</a>
			</td>
		
		</tr>
		
	</table>


















	<div class="checkout-container">
	  <a th:href="@{/checkout}" class="checkout-button">Checkout</a>
	</div>
	
		


	<div th:replace = "@{/footer}"></div>


</body>
</html>