<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/checkout.css}">


</head>
<body>

	<div th:replace = "@{/header}"></div>
    

     <h1>Checkout</h1>
     <div id = "container">
	     
	     <form id="checkout-form" th:action="@{/checkout}" method="POST">
			  <h2>Customer Information</h2>
			  <label for="address-line1">Address Line 1:</label>
			  <input type="text" id="address-line1" name="address-line1" required>
			  
			  <label for="address-line2">Address Line 2:</label>
			  <input type="text" id="address-line2" name="address-line2">
			  
			  <label for="city">City:</label>
			  <input type="text" id="city" name="city" required>
			  
			  <label for="state">State:</label>
			  <input type="text" id="state" name="state" required>
			  
			  <label for="postal-code">Postal Code:</label>
			  <input type="text" id="postal-code" name="postal-code" required>
			  
			  <label for="phone-number">Phone Number:</label>
			  <input type="tel" id="phone-number" name="phone-number" required>
			
			  <!-- Payment information -->
			  <h2>Payment Information</h2>
			  <label for="card-number">Card Number:</label>
			  <input type="text" id="card-number" name="card-number" required>
			  
			  <label for="cardholder-name">Cardholder Name:</label>
			  <input type="text" id="cardholder-name" name="cardholder-name" required>
			  
			  <label for="expiration-date">Expiration Date:</label>
			  <input type="text" id="expiration-date" name="expiration-date" required>
			  
			  <label for="cvc">CVC:</label>
			  <input type="text" id="cvc" name="cvc" required>
			 
	 
	           <input type="submit" value = "Place Order"/>
	     </form>
	     
     </div>
     
    

     <div class= "container2">
	     double check what you are going to buy      
     
	     <table>
			<tr>
				<th>image</th>
				<th>name</th>
				<th>color</th>
				<th>size</th>
				<th>unit price</th>
			</tr>
			<tr th:each = "i : ${carts}"   >
				<td> <img alt="" th:src="@{${i.image_url}}"> </td>
				<td th:text = "${i.product_name}"></td>
				<td th:text = "${i.color_name}"></td>
				<td th:text = "${i.size_name}"></td>
				<td th:text = "${i.product_price}"></td>
			</tr>
		</table>
     
     </div>
     
     

    
    
	<div th:replace = "@{/footer}"></div>
</body>
</html>
