<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/header.js}"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>
<body>













<header>
	  <div class="row">
	    <div class="col-md-3">
	    	<a th:href="@{/}">
	    		<img th:src="@{/images/letter.jpg}" alt="Your Image">
	    	</a>
	    </div>
	
	    <div class="col-md-6">
	      <nav>
	        <ul>
	          <li><a th:href="@{/viewAll}">View All</a></li>
	          <li><a th:href="@{/top}">Top</a></li>
	          <li><a th:href="@{/bottom}">Bottom</a></li>
	          <li><a th:href="@{/dress}">Dress</a></li>
	          <li><a th:href="@{/jacket_coat}">Jacket & Coat</a></li>
			  <li th:if="${#authorization.expression('hasAuthority(''admin'')')}">
				    <a th:href="@{/adminStock}">stock management</a>
			  </li>
			  <li th:if="${#authorization.expression('hasAuthority(''admin'')')}">
				    <a th:href="@{/adminOrder}">order management</a>
			  </li>


		      
	    
	        </ul>
	      </nav>
	    </div>
	
	    <div class="col-md-3">
	      <div class="header-icons">
	      	
	       



			<a th:href="@{/myaccount}">
			    <i class="fas fa-user"></i>
			</a>
			<a th:if="${#authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}" th:href="@{/login}">
			    <i class="fas fa-sign-in-alt"></i>
			</a>
			<a th:href="@{/logout}">
			    <i class="fas fa-sign-out-alt"></i>
			</a>
			<a th:if="${#authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}"  th:href="@{/register}">
        		<i class="fas fa-user-plus"></i> <!-- Icon for registration -->
    		</a>
	        <a th:href="@{/cart}"><i class="fas fa-shopping-cart"></i></a>
	      </div>
	    </div>
	  </div>
	</header>





</body>
</html>
