<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Product Detail</title>

<link rel="stylesheet" type="text/css"  th:href="@{/css/productDetail.css}">



</head>
<body>

	<div th:replace="@{/header}"></div>






	<div class="image-gallery">
		<div class="image-container">
			<div th:each="i : ${pis}" class="image-item">
				<img alt="" th:src="@{${i.image_url}}">
			</div>
		</div>
	</div>

	<div class="product-details">
	  <p th:text="${pis1.product_name}"></p>
	  <p th:text="${pis1.product_price}"></p>
	  <p th:text="${pis1.product_description}"></p>
	</div>

	<div class="color-palettes">
	  <div class="color-palette" th:each="i : ${pcs}">
	  	<a th:href = "@{/showProductByColor/{product_id}/{color_id} (product_id = ${i.product_id}, color_id = ${i.color_id})  }">
	  		<div class="color" th:style="'background-color: ' + ${i.color_hex}"></div>
	  	</a>
	    <p th:text="${i.color_name}"></p>
	  </div>
	</div>



	
	<form class="add-to-cart-form"  th:action="@{/addToCart}" onsubmit="return validateForm(event)">
	
		<input type = "hidden" name = "product_id" th:value = "${product_id}">
		<input type = "hidden" name = "color_id"  th:value = "${color_id}">
		
		<div>
		  size:
		  <select  id="sizeSelect" name = "sizeSelect">
		    <option th:text = "size" value = "">
		    <option value="S" th:disabled="${quantityS == 0}">S</option>
		    <option value="M" th:disabled="${quantityM == 0}">M</option>
		    <option value="L" th:disabled="${quantityL == 0}">L</option>
		  </select>
		</div>
		
		<input type="hidden" id="quantityS" th:value="${quantityS}" />
		<input type="hidden" id="quantityM" th:value="${quantityM}" />
		<input type="hidden" id="quantityL" th:value="${quantityL}" />
		
	
	
		<input type = "submit" value = "Add To Cart">
	</form>
	
	









	<div th:replace="@{/footer}"></div>

<script th:src="@{/js/productDetail.js}"></script>

</body>
</html>
