<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css"  th:href = "@{/css/purchaseDetail.css}"  >
</head>
<body>

	<div th:replace = "@{/header}"></div>
	
	<div class = "container1">
		<table>
			<tr>
				<th>product</th>
				<th>name</th>
				<th>size</th>
				<th>color</th>
				<th>unit price</th>
				<th>quantity</th>			
				<th>status</th>			
				<th>etc</th>			
			</tr>
			<tr th:each = "i : ${purchases}">
				<td> 	<img alt="" th:src="@{${i.image_url}}">   </td>	
				<td th:text = "${i.product_name}"></td>	
				<td th:text = "${i.size_name}"></td>	
				<td th:text = "${i.color_name}"></td>	
				<td th:text = "${i.product_price}"></td>	
				<td th:text = "${i.product_quantity}"></td>	
				<td th:text = "${i.status}"></td>	
				<td> <a th:href = "@{/modifyStatus/{oi_id}/{order_id}  (oi_id = ${i.oi_id}, order_id = ${i.order_id}   )   }" > cancel  </a>  </td>
			</tr>
		</table>

	</div>
	
	


	<div class = "container2">
		
		<div>
		    <p>Shipped to:</p>
		    <p th:text="${shipping.address_line1}"></p>
		    <p th:text="${shipping.address_line2}"></p>
			<p th:text="${shipping.city} + '&nbsp;&nbsp;&nbsp;' + ${shipping.state} + '&nbsp;&nbsp;' + ${shipping.postal_code}"></p>
		    <p th:text="${shipping.phone_number}"></p>
		</div>
	
		<div>
		    <p>Billed to:</p>
		    <p th:text="${billing.card_number}"></p>
		    <p th:text="${billing.expiration_date}"></p>
		</div>	
	</div>


	
	
	
	
	<div th:replace = "@{/footer}"></div>


</body>
</html>